/* color */
:root {
    --color-type-poison: rgb(187, 107, 173);
    --color-type-grass: rgb(130, 210, 96);
    --color-type-fire: rgb(255, 77, 38);
    --color-type-flying: rgb(147, 163, 255);
    --color-type-water: rgb(58, 163, 255);
    --color-type-electric: rgb(255, 210, 58);
    --color-type-dragon: rgb(130, 113, 240);
    --color-type-ice: rgb(113, 210, 255);
    --color-type-fighting: rgb(195, 96, 77);
    --color-type-rock: rgb(195, 179, 113);
    --color-type-ground: rgb(225, 195, 96);
    --color-type-psychic: rgb(255, 96, 163);
    --color-type-bug: rgb(179, 195, 38);
    --color-type-dark: rgb(130, 96, 77);
    --color-type-steel: rgb(179, 179, 195);
    --color-type-fairy: rgb(240, 163, 240);
    --color-type-ghost: rgb(113, 113, 195);
    --color-type-normal: rgb(179, 179, 163);
}